################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassSolution/FileContentIndex/362fec2d-4df8-49fa-8693-567738389241.vsidx
