################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassSolution/FileContentIndex/362fec2d-4df8-49fa-8693-567738389241.vsidx
/.vs/ClassSolution/FileContentIndex/40abdda0-0299-4c45-a832-97471434b457.vsidx
